footer {
  margin-top: 80px;
  width: 100%;
  height: 150px;
  background-color: #252a34;
}

header {
  width: 100%;
  background-color: #252a34;
}

#contactoNav {
  background-color: #FF2E63;
  display: flex;
  justify-content: space-around;
}

nav {
  height: 100px;
}

svg {
  width: 20px;
  fill: #ffffff;
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  color: #252a34;
}

body {
  background-color: #ffffff;
  min-height: 100vh;
}

#contactoNav p {
  color: #ffffff;
  font-family: "Cooper Hewitt", sans-serif;
}

.mainContainer {
  min-height: calc(100vh - 100px - 100px);
}

.background-image {
  background-image: url("../assets/img/PORTADA.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.banner {
  display: flex;
  justify-content: center;
}

.bannerTitle {
  color: #ffffff;
  position: absolute;
  top: 50%;
  font-size: 100px;
  color: #ffffff;
  font-family: "Kompot Sans", sans-serif;
}

.imgTitle {
  position: absolute;
  top: 70%;
  height: auto;
  text-align: center;
}

/*NOSOTROS SECTION*/
.nosotrosContainer {
  display: flex;
  justify-content: space-around;
  background-color: #eaeaea;
  width: 100%;
  height: 500px;
  margin-bottom: 80px;
}

.titleNosotros {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.textTitle {
  margin: 50px;
  width: 30%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.textTitle h2 {
  font-family: "Cooper Hewitt", sans-serif;
  letter-spacing: 2px;
  margin-bottom: 15px;
  text-transform: uppercase;
  color: #333333;
}

.textTitle p {
  font-family: "Cooper Hewitt", sans-serif;
  letter-spacing: 2px;
  text-align: justify;
  color: #333333;
}

.textSubTitle {
  font-family: "Cooper Hewitt", sans-serif;
  letter-spacing: 2px;
  text-align: justify;
  text-align: center;
  color: #333333;
  text-transform: uppercase;
}

/*CARDS*/
.cardsContainer {
  display: flex;
  justify-content: space-evenly;
  margin: 80px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  width: 300px;
  height: 300px;
  text-align: center;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(250, 250, 0, 0.8705882353);
}

.icon-service {
  width: 50px;
  height: auto;
  margin-left: 130px;
}

/*WHATSAPP ICON*/
.whatsapp-ico {
  fill: #ffffff;
  width: 50px;
  height: 50px;
  padding: 3px;
  background-color: #25d366;
  border-radius: 50%;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 10;
}

.whatsapp-ico:hover {
  box-shadow: 2px 2px 11px rgba(0, 0, 0, 0.7);
  background-color: #128c7e;
}

/*FORM*/
.formContainer {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-left: 200px;
  margin-right: 200px;
}

.contactContainer {
  width: 35%;
  margin: 15px;
  background-color: #FF2E63;
}

.contactContainer h3 {
  padding: 20px;
  color: #ffffff;
  font-family: "Cooper Hewitt", sans-serif;
}

.contactContainer p {
  padding: 15px;
  color: #ffffff;
  font-family: "Cooper Hewitt", sans-serif;
}

input[type=text] {
  width: 100%;
  height: 40px;
  padding: 12px 20px;
  margin: 20px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: none;
}

input[type=submit] {
  background-color: #fafa00;
  color: rgba(0, 0, 0, 0.7);
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Cooper Hewitt", sans-serif;
}

input[type=submit]:hover {
  background-color: #252a34;
  color: #ffffff;
}

.form1 {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

/*# sourceMappingURL=styles.css.map */
