$surfie-green: #128c7e;
$mountain-meadow: #25d366;
$white: #ffffff;
$black-40:rgba(0, 0, 0, 0.4);
$black-70: rgba(0,0,0,0.7);
$gallery: #eaeaea;
$charade: #252a34;
$charade-34: #252a3434;
$yellow: #fafa00;
$yellow-40: #fafa00de;
$radical-red: #FF2E63;
$mine-shaft: #333333;
$concrete: #f2f2f2